<head>
<style>
h1, .highlight {
  color: black;
  font-family: bankgothic md bt;
  font-size: 75px;
  text-align: center;
  background-color: gray;
  }
 
center > h2 {
color: black;
font-size: 30px;
font-family: lucida calligraphy;
text-align: center;
background-color: gray;
}
h2 {
color: gray;
font-size: 30px;
font-family: arial;
text-align: center;
}
section {
float: left;
max-width: 300
margin: 0;
padding: 1em;
} 

aside {
color: gray;
font-family: calibri;
font-size: 20px;
text-align: justify;
}
i {
font-size: 20px;
}
 footer {
    padding: 1em;
    color: black;
    background-color: gray;
    clear: left;
   </style>
   </head>